amqp==2.6.0
attrs==19.3.0
Automat==20.2.0
backcall==0.1.0
billiard==3.6.3.0
cachelib==0.1
celery==4.4.6
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
dill==0.3.1.1
et-xmlfile==1.0.1
fire==0.3.1
Flask==1.1.2
Flask-Login==0.5.0
Flask-Session==0.3.2
future==0.18.2
gitdb==4.0.5
GitPython==3.1.2
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.9
importlib-metadata==1.6.0
incremental==17.5.0
ipykernel==5.2.1
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==8.0.0a0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.0
jellyfish==0.7.2
Jinja2==3.0.0a1
jsonpickle==1.4.1
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
kiwisolver==1.2.0
kombu==4.6.11
line-profiler==3.0.2
llvmlite==0.31.0
MarkupSafe==2.0.0a1
matplotlib==3.2.1
memory-profiler==0.57.0
mpld3==0.3
nbformat==5.0.6
networkx==2.4
numba==0.48.0
numpy==1.18.4
openpyexcel==2.5.14
pandas==1.0.3
parso==0.7.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
plotly==4.7.1
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.6.1
PyHamcrest==2.0.2
pyparsing==3.0.0a1
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.1
redis==3.5.3
requests==2.23.0
retrying==1.3.3
scipy==1.4.1
sciris==0.17.4
scirisweb==0.17.0
service-identity==18.1.0
six==1.14.0
smmap==3.0.4
SQLAlchemy==1.3.17
statsmodels==0.11.1
termcolor==1.1.0
tornado==6.0.4
tqdm==4.47.0
traitlets==4.3.3
Twisted==20.3.0
urllib3==1.25.9
vine==1.3.0
wcwidth==0.1.9
Werkzeug==1.0.1
widgetsnbextension==4.0.0a0
xlrd==1.2.0
XlsxWriter==1.2.8
zipp==3.1.0
zope.interface==5.1.0
